In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Ovalle,CL,2021-09-27 03:42:20,-30.5983,-71.2003,59.22,66,0,2.28
1,1,Albany,US,2021-09-27 03:42:20,42.6001,-73.9662,54.52,90,6,4.59
2,2,Port Alfred,ZA,2021-09-27 03:42:21,-33.5906,26.8910,65.25,82,28,19.91
3,3,Rikitea,PF,2021-09-27 03:38:29,-23.1203,-134.9692,73.76,72,8,19.28
4,4,Puerto Ayora,EC,2021-09-27 03:42:21,-0.7393,-90.3518,68.63,92,66,7.23

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
#fig = gmaps.figure()
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
#heat_layer = gmaps.heatmap_layer(locations, weights=temps)
#heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp])
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
5,5,Trairi,BR,2021-09-27 03:37:31,-3.2778,-39.2689,78.71,81,39,13.89
6,6,Mogadishu,SO,2021-09-27 03:42:22,2.0371,45.3438,76.87,88,40,18.41
11,11,Hambantota,LK,2021-09-27 03:42:24,6.1241,81.1185,82.74,78,75,21.85
14,14,Kapaa,US,2021-09-27 03:42:24,22.0752,-159.3190,84.18,76,75,3.00
22,22,Tura,IN,2021-09-27 03:42:27,25.5198,90.2201,86.97,67,13,1.54
30,30,Cabo San Lucas,MX,2021-09-27 03:39:44,22.8909,-109.9124,85.60,80,28,3.98
31,31,Angoram,PG,2021-09-27 03:42:30,-4.0625,144.0661,87.31,66,100,4.45
36,36,Luganville,VU,2021-09-27 03:42:32,-15.5333,167.1667,79.05,78,67,9.93
41,41,Umm Lajj,SA,2021-09-27 03:42:34,25.0213,37.2685,82.78,45,0,11.65
47,47,Atuona,PF,2021-09-27 03:42:36,-9.8000,-139.0333,78.24,72,6,19.24

In [16]:
preferred_cities_df.count()

City_ID       157
City          157
Country       157
Date          157
Lat           157
Lng           157
Max Temp      157
Humidity      157
Cloudiness    157
Wind Speed    157
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
5           Trairi      BR     78.71  -3.2778  -39.2689
6        Mogadishu      SO     76.87   2.0371   45.3438
11      Hambantota      LK     82.74   6.1241   81.1185
14           Kapaa      US     84.18  22.0752 -159.3190
22            Tura      IN     86.97  25.5198   90.2201
30  Cabo San Lucas      MX     85.60  22.8909 -109.9124
31         Angoram      PG     87.31  -4.0625  144.0661
36      Luganville      VU     79.05 -15.5333  167.1667
41        Umm Lajj      SA     82.78  25.0213   37.2685
47          Atuona      PF     78.24  -9.8000 -139.0333

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [22]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [24]:
hotel_df

,City,Country,Max Temp,Lat,Lng,Hotel Name
5,Trairi,BR,78.71,-3.2778,-39.2689,janelas do mar
6,Mogadishu,SO,76.87,2.0371,45.3438,Hotel Juba
11,Hambantota,LK,82.74,6.1241,81.1185,Bungalow 63
14,Kapaa,US,84.18,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
22,Tura,IN,86.97,25.5198,90.2201,Hotel RIKMAN Continental
...,...,...,...,...,...,...
554,Garwa,IN,85.62,24.1833,83.8167,A.PS.D Utsav Garden
555,Boa Vista,BR,80.58,2.8197,-60.6733,Aipana Plaza Hotel
560,Atambua,ID,86.41,-9.1061,124.8925,Pastori 1 Jemaat Polycarpus
561,Yarada,IN,80.24,17.6500,83.2667,Jeevan
563,Gao,ML,85.21,16.6362,1.6370,

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [28]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations,info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))